---
layout: default.hbs
title: <%= site.title %>
---
<section class="jumbotron">
  <h1>PresenTense Magazine</h1>
  <a href="/magazine">
    <img width="300" height="63" align="middle" alt="PRESENTENSE Magazine" src="http://presentense.org/files/ptmaglogo-300px.png" />
  </a>

  <p class="lead">Use this document as a way to quickly start any new project.
    <br>All you get is this text and a mostly barebones HTML document.
  </p>
</section><!-- /.container -->


<section class="container">
  <div class="row">
  {{#each tags}}
    {{#is tag "issue"}}
      {{#each pages}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><a href="issues/{{data.issue}}/">{{data.title}}</a>
            </h3>
          </div>
          {{#if data.cover}}
            <img src="{{data.cover}}" alt="Issue {{data.issue}} cover" style="width: 300px; height: 400px;">
            {{else}}
            <img data-src="holder.js/300x400" alt="300x400" style="width: 300px; height: 400px;">
          {{/if}}
          <!--<div class="caption">
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>-->
        </div>
      </div>
      {{/each}}
    {{/is}}
  {{/each}}
  </div>
</section><!-- /.container -->
